<div class="row">
  <div class="col-6 offset-3">
    <!--    <div class="alert alert-danger" *ngIf="error">-->
    <!--      <p>{{error}}</p>-->
    <!--    </div>-->

    <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>

    <div *ngIf="isLoading" class="text-center text-black">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" class="form-control" ngModel name="email" required email/>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6"/>
      </div>

      <div class="form-group text-center">
        <button type="submit" class="btn btn-outline-info" [disabled]="authForm.invalid">
          {{isLoginMode ? 'Sign In' : 'Sign Up'}}
        </button>
      </div>

      <div class="form-group text-center">
        <button type="button" class="btn btn-outline-info" (click)="onSwitchMode()">
          Switch to {{isLoginMode ? 'Sign Up' : 'Sign In'}}
        </button>
      </div>

    </form>
  </div>
</div>
