<div class="row">
  <div class="col">
    <p>Add new Servers or blueprints!</p>

    <div class="form-group">
      <label for="serverName">Server Name</label>
      <!--      <input type="text" class="form-control" [(ngModel)]="newServerName" id="serverName">-->
      <input type="text" class="form-control" #serverNameInput>
    </div>

    <div class="form-group">
      <label for="serverContent">Server Content</label>
<!--      <input type="text" class="form-control" [(ngModel)]="newServerContent" id="serverContent">-->
      <input type="text" class="form-control" #serverContentInput>
    </div>

    <div class="btn-group" role="group" aria-label="Actions">
      <button
        class="btn btn-primary"
        (click)="onAddServer(serverNameInput)">Add Server
      </button>

      <button
        class="btn btn-primary"
        (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint
      </button>
    </div>
  </div>
</div>
